@using Microsoft.AspNetCore.Identity
@using BogAnsigt.Models.Viewmodel
@model IEnumerable<People>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "People";


}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User) != item.Id)
                    {
                        @if (item.Friend)
                        {
                            <a asp-action="FriendToggle" asp-route-friendId="@item.Id" asp-route-refferer="People">Remove Friend</a>
                        }
                        else
                        {
                            <a asp-action="FriendToggle" asp-route-friendId="@item.Id" asp-route-refferer="People">Add Friend</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>

</table>