@{
    ViewData["Title"] = "Your Pictures";
}
@model IEnumerable<BogAnsigt.Models.Picture>


<h1>My Pictures</h1>
<a asp-area="" asp-controller="Home" asp-action="Upload">Upload picture</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @* Remove later *@
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureBytes)
            </th>
            <th>
                Comment
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @* Remove later *@
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(item.PictureBytes)" width="80" height="80" />

            </td>
            <td>
            @if (item.Comments != null)
            {
                <table border="1" cellpadding="6">
                    @for (int i = 0; i < item.Comments.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.TextBox("comments[" + @i + "].Author.UserName",
                            item.Comments[i].Author.UserName,
                            new { @readonly = "readonly" })
                            </td>
                            <td>
                                @Html.TextBox("comments[" + @i + "].CommentText",
                           item.Comments[i].CommentText,
                           new { @readonly = "readonly" })
                            </td>

                        </tr>
                    }
                    <tr>
                        
                    </tr>
                </table>
            }
            </td>
            
            @* Add Comments *@
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
            
        }
    </tbody>
</table>
